@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html,body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background: linear-gradient(90deg, #00000071 0%, #000000 100%), url(https://i.imgur.com/mNGvq15.jpg);
    height: 100vh; /* Try removing this.. */
    font-family: 'Nunito', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 90%;
}

.textas{
    text-transform: uppercase;
    color: #fff;
    font-size: 2vw;
    animation: text 0.5s ease-in;
    letter-spacing: 20px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.418);
}

.sub p{
    color: #fff;
    text-shadow: 0px 0px 20px #fff;
}



@keyframes text{
    0%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 20px;
    }
}